    </head>
    <body> 
        <header class="web-header">
            <div class="outer-boundry">
                <div class="inner-boundry">
                    <div class="elm">
                        <a href="/"><img src="/images/logo.jpeg" alt="logo"></a>
                    </div>
                    <div class="elm">
                        <h1>Scent Swap</h1>
                        <p>Relax! Exchange! Reuse!</p>
                    </div>
                    
                </div>
                
                <nav class="primary-nav">
                    <ul>
                        <%if(!user){%>
                            <li><a href="/users/new">Sign up</a></li>
                            <li><a href="/users/login">Login</a></li>
                        <%}
                        else{%>
                            <li><a href="/trades/new">Start Trading!</a></li>
                            <li><a href="/users/profile">Profile</a></li>
                            <li><a href="/users/logout">Logout</a></li>
                        <%}%>
                        
                    </ul>
                </nav>  
            </div>
        </header>
        <nav class="secondary-nav">
            <ul>
                <li><a href="/trades">Trades</a></li>
                <%if(username){%>
                    <li class="username">Welcome <%=username%>!</li>
                <%}%>
            </ul>
        </nav>
        <% if(errorMessages.length > 0){
            errorMessages.forEach(msg =>{%>
                <div class="error"><%=msg%></div>
            <%})
        }%>
    
        <%if(successMessages.length > 0){
            successMessages.forEach(msg =>{%>
                <div class="success"><%=msg%></div>
            <%})
        }%>