    </head>
    <body> 
        <header class="web-header">
            <div class="outer-boundry">
                <div class="inner-boundry">
                    <div class="elm">
                        <a href="/"><img src="/images/logo.jpeg" alt="logo"></a>
                    </div>
                    <div class="elm">
                        <h1>Scent Swap</h1>
                        <p>Relax! Exchange! Reuse!</p>
                    </div>
                    
                </div>
                
                <nav class="primary-nav">
                    <ul>
                        <li><a href="/trades/new">Start Trading!</a></li>
                        <li><a>Login</a></li>
                        <li><a>Sign up</a></li>
                    </ul>
                </nav>  
            </div>
        </header>
        <nav class="secondary-nav">
            <ul>
                <li><a href="/trades">Trades</a></li>
            </ul>
        </nav>