<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/newTrade.css">
<%- include('../partials/nav.ejs')%>
        <main class="content">
            <div class="form_div">
                <form class="form_main" action="/trades" method = 'POST'>
                    <div class="form_main">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form_main">
                        <label for="category">Category</label>
                         <input type="text" id="category" name="category" required>
                    </div>
                    <div class="form_main">
                        <label for="company">Company</label>
                        <input type="text" id="company" name="company" required><br>
                    </div>
                    <div class="form_main">
                        <label for="image">Image</label>
                         <input type="text" id="image" name="image" required>
                    </div>
                    <div class="form_main">
                        <label>Type</label>
                        <input type="radio" name="type" value="3 wick" required>3 Wick
                        <input type="radio" name="type" value="2 wick" required>2 Wick
                        <input type="radio" name="type" value="1 wick" required>1 Wick
                    </div>
                    <div class="form_main">
                        <label for="original_net_weight">Original Net Weight(Oz)</label>
                        <input type="text" id="original_net_weight" name="original_net_weight" required>
                    </div>
                    <div class="form_main">
                        <label for="existing_net_weight">Existing Net Weight(Oz)</label>
                        <input type="text" id="existing_net_weight" name="existing_net_weight" required>
                    </div>
                   <div class="form_main">
                        <label for="original_price">Original price(USD)</label>
                        <input type="text" id="original_price" name="original_price" required><br>
                   </div>
                   <div class="form_main">
                        <label for="details">Description</label>
                        <textarea id="details" name="details" required></textarea>
                    </div>
                    <div class="form_main form_submit">
                        <input type="submit" value="Create trade">
                   </div>
                </form>
            </div>
        </main>
<%- include('../partials/footer.ejs')%>