<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/trades.css">
<%- include('../partials/nav.ejs')%> 
        <main class="content">
            <section class="content-section">
                <h2>Woody scent</h2>
                <article>
                    <ul class="trade-ul">
                        <li class="trade-li">
                            <img src="/images/sandalwood.jpeg" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Sandalwood</h3></a>
                            <p>In aromatherapy, sandalwood has many benefits. Its sweet, soft scent induces relaxation and calmness, and promotes positive thinking, clarity and aids concentration. Many people believe it can also help boost memory. 
                                Often sandalwood is associated as a 'masculine' smell but it's actually used in loads in 'feminine' marketed fragrances out there.</p>
                        </li>
                        <li class="trade-li">
                            <img src="/images/pine.jpeg" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Pine</h3></a>
                            <p>
                                Pine tree aroma has sharp, sweet, and refreshing notes. Lit a candle and the enjoy smell of pine trees: pine needles, bark and cones - just like a walk through a pine forest.
                                Like a classic winter scene coming to life, the mix of pine needles and winter air pair wonderfully with fruit, floral and citrus scents.
                            </p>
                        </li>
                        <li class="trade-li">
                            <img src="/images/juniper.png" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Juniper</h3></a>
                            <p>
                                It has distinctive aroma that is woody, sweet, fresh and crisp. Get a juniper scented candle for the holiday season, your house will smell amazing for weeks.
                                It blends well with woody smells like cedarwood, sandalwood and rosewood and other conifers like cypress and fir needle.
                            </p>
                        </li>
                    </ul>
                </article> 
            </section>
            <section class="content-section">
                <h2>Floral scent</h2>
                <article>
                    <ul class="trade-ul">
                        <li class="trade-li">
                            <img src="/images/rose.jpeg" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Rose</h3></a>
                            <p>
                                A candle that relieves stress, fights anxiety, and relaxes your body and mind. 
                                People say that the scent of the rose is both the scent of great love, and it is also very enveloping like Mother's arms.
                                It's a very sensual and romantic scent that is emotionally uplifting
                            </p>
                        </li>
                        <li class="trade-li">
                            <img src="/images/lavender.jpeg" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Lavender</h3></a>
                            <p>
                                Lavender has a delicate, sweet smell that is floral, herbal, and evergreen woodsy at the same time. It has soft, powdery, or smokey notes as well. 
                                Lavender is one of the most popular scents for relaxing and falling asleep. It can help release tension, soothe racing thoughts and help you unwind.
                            </p>
                        </li>
                        <li class="trade-li">
                            <img src="/images/jasmine.jpeg" width="100" height="100" alt="product image">
                            <a href="trade.html"><h3>Jasmine</h3></a>
                            <p>
                                The floral scent of jasmine is rich, sweet, fruity, and sensual. Unlike other flowers, Jasmine also has a slight animalistic edge that smells tenacious and musky. 
                                The combination of feminine sweetness and masculine wildness make the smell of jasmine universally attractive.
                            </p>
                        </li>
                    </ul>
                </article> 
            </section>
        </main>
<%- include('../partials/footer.ejs')%>