<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scent Swap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/trade.css">
    </head>
    <body>
        <header class="web-header">
            <div class="outer-boundry">
                <div class="inner-boundry">
                    <div class="elm">
                        <a href="index.html"><img src="images/logo.jpeg" alt="logo"></a>
                    </div>
                    <div class="elm">
                        <h1>Scent Swap</h1>
                        <p>Relax! Exchange! Reuse!</p>
                    </div>   
                </div>
                <nav class="primary-nav">
                    <ul>
                        <li><a href="newTrade.html">Start Trading!</a></li>
                        <li><a>Login</a></li>
                        <li><a>Sign up</a></li>
                    </ul>
                </nav>  
            </div>
        </header>
        <nav class="secondary-nav">
            <ul>
                <li><a href="trades.html">Trades</a></li>
            </ul>
        </nav>  
        <main class="content">
           <div class="main-block">
            <div class="block">
                <img class="product-img" src="images/lavender.jpeg" alt="product image" width="400" height="400">
            </div>
            <div class="block">
                <h2>Lavender</h2>
                <h4>Floral Aroma</h4>
                <p class="p-head"> Description:</p>
                <p>
                    Lavender has a delicate, sweet smell that is floral, herbal, and evergreen woodsy at the same time. It has soft, powdery, or smokey notes as well. 
                    Lavender is one of the most popular scents for relaxing and falling asleep. It can help release tension, soothe racing thoughts and help you unwind.
                </p>
                <p class="p-head">Company:</p>
                <p>White Barn</p>
                <p class="p-head">Type:</p>
                <p>3 wick</p>
                <p class="p-head">Original Net Weight:</p>
                <p>14.5oz / 411gm</p>
                <p class="p-head">Existing Net Weight:</p>
                <p>6oz / 170gm</p>
                <p class="p-head">Original Price:</p>
                <p>$26.50</p>
            </div>
           </div>
        </main>
        <footer class="footer">
            <p>&copy; Scent Swap</p>
        </footer>
    </body>
</html>