<%- include('./partials/header.ejs')%>
<%- include('./partials/nav.ejs')%> 
        <main class="content">
            <div>
                <article>
                        <h4 class="main-text">Hey there!</h4>
                        <p class="main-text">Do you own a leftover scented candle that was once beloved?</p>
                        <p class="main-text">Would you like to try a new one for no extra cost? You have come to the right place!</p>
                        <p class="main-text">Here at Scent Swap you can exchange gems from your scented candle collection.</p>
                   
                </article>
                
            </div>
        </main>
<%- include('./partials/footer.ejs')%>