html{
    /* height: 110%; */
    margin: 0;
    padding: 0;
    width: auto;
    height:auto;
}
body{
    /* height: 110%; */
    margin: 0;
    padding: 0;
    width: auto;
    height:auto;
}
.content-section {
    margin: 20px;
}

.trade-ul {
    list-style-type: none;
    
}

.trade-li{
    margin: 10px;
}

.trade-li img {
    float: left;
    margin: 0 15px 0 0;
  }

.trade-li li {
    padding: 10px;
    overflow: auto;

}

.trade-li li:hover {
    background: #eee;
    cursor: pointer;
  }