.form_div {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    
}

.form_div form{
    padding: 30px;
}

.form_main{
    display: table;
}

.form_submit button {
    background-color: seashell;
    border-radius: 4px;
    border-style: solid;
    border-color: brown;
    margin-top: 30px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

td{
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
  .align-top{
    vertical-align: top;
  }
  
  .align-left{
    text-align: left;
  }
  
  .fixed-width{
    width: 200px;
  }