<%- include('../partials/header.ejs')%>
<%- include('../partials/nav.ejs')%> 
        <main class="content">
            <div>
                <article>
                        <h4 class="main-text">Hello!</h4>
                        <p class="main-text">We are team Scent Swap! Nice to meet you!!</p>
                        <p class="main-text">My name is Devashri Gadgil. I am the only developer of this beautiful application.</p>
                        <p class="main-text">This individual project was developed as part of the course: Network based application development under supervision of Dr. Nadia Najjar</p>
                        <p class="main-text">(Fall 2022, UNC Charlotte)</p>
                   
                </article>
                
            </div>
        </main>
<%- include('../partials/footer.ejs')%>