<%- include('../partials/header.ejs')%>
<%- include('../partials/nav.ejs')%> 
        <main class="content">
            <div>
                <article>
                        <h4 class="main-text">Let's stay in touch!</h4>
                        <p class="main-text">Email: dgadgil@uncc.edu / gadgil.devashri@gmail.com</p>
                        <p class="main-text">To report bugs, request features or to contribute:</p>
                        <p class="main-text"> Visit our <a href="https://github.com/gadgil-devashri/scent-swap">GitHub</a> Repository</p>
                   
                </article>
                
            </div>
        </main>
<%- include('../partials/footer.ejs')%>